<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
